@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "LSeedJP";
  src: url(https://skota11.pages.dev/font/LINESeedJP_OTF_Bd.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: 'Poppins', "LSeedJP", sans-serif;
  color: #f5f5f5;
}

body {
  background-color: #F2F0E9;
}

body {
  /*スクロールバー非表示（IE・Edge）*/
  -ms-overflow-style: none;
  /*スクロールバー非表示（Firefox）*/
  scrollbar-width: none;
}

/*スクロールバー非表示（Chrome・Safari）*/
body::-webkit-scrollbar {
  display: none;
}